# some temp && ide config files/folders
.vs
.vscode
*.iml
.idea
.DS_Store

node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
